<div class="card">
  <div class="card-header card-header-text card-header-primary">
    <div class="card-text">
        <h4 class="card-title">{{name}}</h4>
    </div>
  </div>
  <div class="card-body">
    <table class="table">
      <tbody>
        <tr *ngFor="let relatedUnit of relatedUnits">
          <td>
            <span>{{relatedUnit.name}}</span>            
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <button class="btn btn-primary btn-fab btn-fab-mini btn-round btn-success">
        <i class="fas fa-plus"></i>
      </button>
    </div>
  </div>
</div>