@import "../../../material-dashboard/assets/scss/material-dashboard/variables";

body {
    background-color: $grey-400;
}

.content {
    margin-top: 70px;
    padding: 30px 15px;
}

.my-extra-bold {
    font-weight: 700;
}

.my-table {
    tr {
        background-color: $white;

        &:nth-child(even) {
            background-color: $grey-200;
        }

        td {
            text-align: right;


            &:first-child {
                text-align: left;
            }
        }
    }
}

.my-mini-card {
    max-height: 162px;

    .my-scrollable-section{
        overflow-y: scroll;
    }
}

.my-button-circular {
    background-color: $primary;
    color: $white;
    border-radius: 50%;
}