<div *ngFor="let record of records">
  <div class="row">
    <div class="col-12">
        <app-record [unitId]="unitId" [id]="record.id" [key]="record.key" [value]="record.value"></app-record>
    </div>
  </div>
</div>

<div class="row" *ngIf="showAddRecordForm === false">
  <div class="col-12">
    <button type="button" class="btn btn-success" (click)="showAddRecordForm = true">
      Añadir
    </button>
  </div>
</div>
<div class="row" *ngIf="showAddRecordForm">
  <div class="col">
    <form>
      <div class="form-group">
        <label for="newRecord">Descripción</label>
        <input type="text" class="form-control" id="newRecord" name="newRecord" [(ngModel)]="newRecord" required>
      </div>
      <select class="form-control" id="newKey" name="newKey" [(ngModel)]="newKey" required>
          <option value="WHY">WHY</option>
          <option value="WHAT">WHAT</option>
          <option value="WHO">WHO</option>
          <option value="WHERE">WHERE</option>
          <option value="HOW">HOW</option>
          <option value="FOR_WHAT">FOR_WHAT</option>
          <option value="WHEN">WHEN</option>
			</select>
      <button type="submit" class="btn btn-success" (click)="addRecord()">Añadir</button>
    </form>
  </div>
</div>