<div class="card">
  <div class="card-header card-header-text card-header-primary">
    <div class="card-text">
        <h4 class="card-title">{{key}}</h4>
    </div>
  </div>
  <div class="card-body">
    <table class="table">
      <tbody>
        <tr>
          <td>{{value}}</td>
        </tr>
        <tr>
          <td>
            <img src="">
          </td>
        </tr>
      </tbody>
    </table>
    <div class="container text-right">
      <div class="col-12">
        <div class="row">
          <div class="col">
            <ng-container>
                <button (click)='openRecordDialog()' type="submit" class="btn btn-info" data-toggle="modal" data-target=#addWhy>Editar</button>
            </ng-container>  

            <ng-template #recordDialog let-dialogRef="dialogRef">
              <mat-dialog-content flex>
                <form #editForm="ngForm">
                  <div layout="row">
                    <mat-form-field flex>
                      <input matInput #recordElement="ngModel" type="text"
                        maxlength="200" name="value" [(ngModel)]="value">
                    </mat-form-field>
                  </div>
                </form>
              </mat-dialog-content>
              <mat-dialog-actions allign="end">
                <button type="button" mat-button class="text-upper" (click)="dialogRef.close()">Cerrar</button>
                <button type="button" mat-button color="accent" class="text-upper" (click)="editRecord(record.unitId,record.value)">Guardar</button>
              </mat-dialog-actions>
            </ng-template>
          </div>
          <div class="col">
            
            <form action="/upload-image" method="POST" enctype="multipart/form-data">
              <input type="file" id="" name="file" style="display: none">
              <input type="hidden" name="recordId" value="">
              <input type="hidden" name="_csrf" value="" />
              <button type="button" class="btn btn-warning" >
                <span>Subir nueva imagen</span>
              </button>
              <button type="submit" class="btn btn-success">
                <span>Guardar foto</span>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>