
<div class="tab-pane active justify-content-start" id="unit">
									<table class="table my-table">
										<tbody>
											{{#units}}
											{{#showMore}}
											<tr>
												<td>{{^logged}} {{name}} {{/logged}} {{#logged}}
													<div class="col-12">
														<div class="row">
															<div class="col-4 d-inline positioner-wrapper">
																<a href="/unit/{{id}}" class="middle-pos left-pos ml-2">
																	<span>{{name}}</span>
																</a>
															</div>

															{{#admin}}
															<form method="post" action="delete-unit/{{id}}">
																<button class="btn btn-primary btn-link">
																	<i class="fas fa-trash-alt"></i>
																</button>
																<input type="hidden" name="_csrf" value="{{token}}" />
															</form>
															{{/admin}}
														</div>
													</div> {{/logged}}
												</td>
											</tr>
											{{/showMore}}
											{{/units}}
										</tbody>
									</table>
									{{#admin}}
									<div class="content text-left">
										<p>
										<form method="post" action="add-unit"></form>
										<button class="btn btn-primary btn-round" data-toggle="modal"
											data-target=#addUnitModal>
											<i class="material-icons">+</i>
										</button>
										</p>
									</div>
									{{/admin}}
								</div>
