<p>
  relations works!
</p>
<div class="row">
  <div class="col-sm-12 col-lg-6 col-xl-4">
    <app-relation></app-relation>
  </div>
  <div class="col-sm-12 col-lg-6 col-xl-4">
    <app-relation></app-relation>
  </div>
  <div class="col-sm-12 col-lg-6 col-xl-4">
    <app-relation></app-relation>
  </div>
  <div class="col-sm-12 col-lg-6 col-xl-4">
    <app-relation></app-relation>
  </div>
  <div class="col-sm-12 col-lg-6 col-xl-4">
    <app-relation></app-relation>
  </div>
  <div class="col-sm-12 col-lg-6 col-xl-4">
    <app-relation></app-relation>
  </div>
  <div class="col-sm-12 col-lg-6 col-xl-4">
    <app-relation></app-relation>
  </div>
  <div class="col-sm-12 col-lg-6 col-xl-4">
    <app-relation></app-relation>
  </div>
  <div class="col-sm-12 col-lg-6 col-xl-4">
    <app-relation></app-relation>
  </div>
</div>