<p>
  relations works!
</p>
<div class="row">
  <div class="col-sm-12 col-lg-6 col-xl-4">
    <app-relation [id]="3" [name]="'Hija'"></app-relation>
  </div>
  <div class="col-sm-12 col-lg-6 col-xl-4">
    <app-relation [id]="3" [name]="'Padre'"></app-relation>
  </div>
  <div class="col-sm-12 col-lg-6 col-xl-4">
    <app-relation [id]="3" [name]="'Asociado a'"></app-relation>
  </div>
  <div class="col-sm-12 col-lg-6 col-xl-4">
    <app-relation [id]="3" [name]="'Asociado por'"></app-relation>
  </div>
  <div class="col-sm-12 col-lg-6 col-xl-4">
    <div class="card">
      <div class="card-header card-header-text card-header-primary">
        <div class="card-text">
            <h4 class="card-title">{{unitName}}</h4>
        </div>
      </div>
      <div class="card-body">
        
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-lg-6 col-xl-4">
    <app-relation [id]="3" [name]="'Usa'"></app-relation>
  </div>
  <div class="col-sm-12 col-lg-6 col-xl-4">
    <app-relation [id]="3" [name]="'Usado por'"></app-relation>
  </div>
  <div class="col-sm-12 col-lg-6 col-xl-4">
    <app-relation [id]="3" [name]="'Hija'"></app-relation>
  </div>
  <div class="col-sm-12 col-lg-6 col-xl-4">
    <app-relation [id]="3" [name]="'Hija'"></app-relation>
  </div>
</div>