<div class="card card-nav-tabs card-plain">
    <div class="card-header card-header-danger">
        <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs" data-tabs="tabs">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/">
                            <strong>Unidades</strong>
                        </a>
                    </li>
                    <li class="nav-item" (click)="setTab('relations')">
                        <a class="nav-link" [class.active]="isInRelations()">Relaciones</a>
                    </li>
                    <li class="nav-item" (click)="setTab('records')">
                        <a class="nav-link" [class.active]="isInRecords()">Ficha</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <div class="unit-body-wrapper">
            <div class="unit-body-content">
                <app-loading *ngIf="loading"></app-loading>
                <div class="tab-content" *ngIf="!loading">
                    <div class="tab-pane" [class.active]="isInRelations()">
                        <div class="row">
                            <div class="col-sm-12">
                                <app-relations [unitId]="id" [unitName]="name" [children]="children"></app-relations>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" [class.active]="isInRecords()">
                        <div class="row">
                            <div class="col-sm-12">
                                <app-records [unitId]="id" [records]="records"></app-records>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>