<div class="card card-nav-tabs card-plain">
    <div class="card-header card-header-danger">
        <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs" data-tabs="tabs">
                    <li class="nav-item">
                        <a class="nav-link" [class.active]="isInRelations" (click)="setTab('relations')">Relaciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [class.active]="isInRecords" (click)="setTab('records')">Ficha</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <div class="tab-content text-center">
            <div class="tab-pane" *ngIf="isInRelations">
                <app-relations [unitId]="id" [unitName]="name" [children]="children"></app-relations>
            </div>
            <div class="tab-pane" *ngIf="isInRecords">
                <p> I will be the leader of a company that ends up being worth billions of dollars, because I got the
                    answers. I understand culture. I am the nucleus. I think that&#x2019;s a responsibility that I have,
                    to push possibilities, to show people, this is the level that things could be at. I think
                    that&#x2019;s a responsibility that I have, to push possibilities, to show people, this is the level
                    that things could be at. </p>
            </div>
        </div>
    </div>
</div>


<app-relations [unitId]="id" [unitName]="name" [children]="children" [parents]="parents"></app-relations>
